{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nuevos tickets{% endblock %}</h1>
{% endblock %}



{% block content %}
  {% for ticket in tickets     %}
  <article class="ticket">
    <header>
      
        <h1>destino {{loop.index}} </h1>
        
        <div class="about">Desde {{ ticket[0] }} hasta {{ ticket[1] }} por {{ticket[2]}} puntos
          <form method ="post">
          <input type="submit" class="Accept" name="submit_button" value="Yeca" >
          <input type="submit" class="Remove" name="submit_button" value="Ni de coña"> </div>
        </form> 
    </header>
  </article>
  {% endfor %}

{% endblock %}