{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nuevos tickets{% endblock %}</h1>
  <a class="action" href="{{ url_for('game.player_ticket_menu', id=id,player=player) }}">Menú de tickets</a>

{% endblock %}



{% block content %}

  <article class="ticket">
    <header>
      
      
<form action="{{ url_for('game.save_tickets',id=id,player=player) }}" method ="post"> 
  <div class="form-group">
    <div>
      <select id="myform" name='tickets' multiple class="form-control"> // addition here
        {% for ticket in tickets   %}  
        <option> {{ticket}} </option>
        {% endfor %}
         
      </select>
    </div>
  </div>
  <input type="submit" class="Accept" name="submit_button" value="Yeca"  onclick="return confirm ('Y con esto piensas ganar?)">
</form> 
    </header>

{% endblock %}