{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Tickets{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('game.create', id=id,player=player) }}">More tickets</a>
{% endif %}

{% endblock %}


{% block content %}
{% for ticket_player in tickets_player %}
<article class="post">
  <header>
    <div>
      <h1>Desde {{ticket_player['destino'] }} hasta {{ticket_player['origen'] }} por {{ticket_player['puntos']}} puntacos</h1>
      <div class="about">Elegido por {{ ticket_player['username'] }} el {{ ticket_player['created'].strftime('%Y-%m-%d')
        }}</div>
    </div>
  </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}